<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Age Verifier</title>
  </head>
  <body>
  
  <header>
  
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="metastruct.net" class="navbar-brand d-flex align-items-center">
		
        <strong>Meta Construct | Age verifier</strong>
      </a>
      
    </div>
  </div>
</header>
  
  
  <div class="container">
  
  
  
      <div class="py-5 text-center">
        
		
  </div>

  
  
	Meta Construct is unmoderated. It may sometimes contain content unsuitable for minors. Some areas are also explicitly marked as adult only. 
	<br />
	To protect children and the curious we require everyone wanting to access these parts to be verified by existing members to be adults.
	<br />	<hr />
		<br />
	
	
	{{#verified}}
	You have been verified to be adult. You may verify other people.
	{{/verified}}

	{{#unverified}}
	<br />	<br />
	You need 2 separate verifiers for your adult status (they need to already be verified). 	
	
	<br />	<br />Give them this URL:
	
	<a href="https://g2cf.metastruct.net/r18/verify/{{code}}">https://g2cf.metastruct.net/r18/verify/{{code}}</a>
	{{/unverified}}
	
	
	{{#v1}}
		<br/>
		<br/>Your verifier 1: <a href="https://steamcommunity.com/profiles/{{v1}}">https://steamcommunity.com/profiles/{{v1}}</a>
	{{/v1}}
	
	{{#v2}}
		<br/>
		<br/>
		Your verifier 2: <a href="https://steamcommunity.com/profiles/{{v2}}">https://steamcommunity.com/profiles/{{v2}}</a>
	{{/v2}}
	
	{{#myverifications}}
		
		<br/>
		<br/>
		<b>People you have verified:</b>
		{{#verifications}}
			<br/>
			<a href="https://steamcommunity.com/profiles/{{sid64}}">https://steamcommunity.com/profiles/{{sid64}}</a>
		{{/verifications}}
	{{/myverifications}}
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>